.CheckoutBelow{
    color: #e0e9cd;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
}

.success{
    color: #e0e9cd;
    margin-right: 15px;
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
}

.receipt-line{
    font-size: 16px;
}

.checkout-form-input{
    margin-left: 0px;
}

.checkout-button{
    width: 175px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-color: #e0e9cd;
    margin: 10px;
    margin-left: 3px;
    display: block;
    text-align: center;
}